#Print Statement

The print statement can be used in the following different ways :

- print "Hello World"
- print "Hello", <Variable Containing the String>
- print "Hello" + <Variable Containing the String>
- print "Hello %s" % <variable containing the string>

In [5]:
print ("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [8]:
print ('Hey')

Hey

In [9]:
print("""My name is Rajath Kumar M.P.

I love Python.""")

My name is Rajath Kumar M.P.

I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [13]:
string1 = 'World'
print ('Hello', string1)

string2 = '!'
print ('Hello', string1, string2)

Hello World
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [14]:
print ('Hello' + string1 + string2)

HelloWorld!

**%s** is used to refer to a variable which contains a string.

In [16]:
print ("Hello %s" % string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [18]:
print ("Actual Number = %d" %18)
print ("Float of the number = %f" %18)
print ("Octal equivalent of the number = %o" %18)
print ("Hexadecimal equivalent of the number = %x" %18)
print ("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

Other Examples

In [19]:
print ('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [ ]:
print "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")